{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <a href="{{ path('admin') }}"> Go to Admin page </a><br>
    <a href="{{ path('task_list') }}"> Tasks </a>
    <hr>
    <div>
        {{ form_start(filterForm) }}
        {{ form_widget(filterForm.sortby) }}
        {{ form_widget(filterForm.orderby) }}
            <button type="submit">Apply</button>
        {{ form_end(filterForm) }}
    </div>
    <hr>

    {% for post in posts %}
        <h3> {{ post.id}} - title: {{ post.title}} - content: {{ post.content}} - {{ post.date | date('d/m/Y') }} </h3>
    {% endfor %}

</div>
    <div class="navigation text-center">
        {{ knp_pagination_render(posts) }}
    </div>

{% endblock %}
